body {
  margin: 0;
  background-color: #f1f1f1;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------- Menu -------------*/
nav {
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a p{
  transition: all 0.4s ease-in-out;
  margin-left: 2rem;
  font-size: 1.06rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
}

nav ul li a p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: #218838;
  transition: all 0.4s ease;
}

nav ul li a p:hover::before {
  left: 0;
}

nav ul li a p:hover {
  color: #218838;
  transition: all 0.4s ease;
  transform: scale(1.14);
  cursor: pointer;
}

nav img {
  width: 250px;
}

.redes svg {
  padding: 4px;
  border: 1.5px solid black;
  border-radius: 9px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.redes svg:hover {
  transform: scale(1.14);
  background-color: black;
  fill: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
/*------------- Texto Inicial ------------*/

#textoinicial{
  margin: 2rem;
  text-align: center;
}

#textoinicial h1{
  font-size: 2rem;
  font-weight: 500;
}

#textoinicial a{
  text-decoration: none;
  color: #218838;
}

/* ------------- Input Busca -------------*/

.multi-search {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.search-box {
  display: flex;
  align-items: center;
  border-right: transparent;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 8px;
  border-radius: 5px 0px 0px 5px;
  background-color: #fff;
  width: 300px;
}

.search-box input {
  border: none;
  padding: 8px 10px;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
}

.search-box svg {
  position: relative;
  left: 0;
  z-index: 10;
  margin-left: 0.4rem;
  width: 20px;
  height: 20px;
  fill: #218838;
}

.search-filters button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-left: 5px #28a745;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.search-filters button:hover {
  background-color: #218838;
}

/* ------------- filtro -------------*/

.filtro {
  padding-top: 3rem;
  width: 95%;
  margin: auto;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  p {
    position: relative;
    top: 2px;
    margin-right: 3rem;
    font-weight: bold;
  }
}

.filtro button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.filtro button.active {
  background-color: #218838; /* Cor laranja da imagem */
  color: white;
}

.filtro select {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/*----Produtos----*/


.Item{
  width: 220px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.Item:hover{
  border-radius: 20px;
}

.Item p{
  margin: 5px;
}
.Item button {
  background-color: #355315;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1.5rem;
}

.Item button:hover {
  cursor: pointer;
  background-color: #C0392B;
  transform: scale(1.05);
}

.Item button:active {
  background-color: #9B2D1D;
}

.Item img {
  max-width: 100%;
  max-height: 100%;
  width: 192px;
  height: 192px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, object-fit 0.3s ease, border-radius 0.3s ease;
}


.produtos{
  transform: translateY(2rem);
  margin: 0 auto;
  gap: 2rem;
  min-height: 50vh;
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


.adicionaritem{
  padding: 2rem;
  width: 220px;
  height: 380px;
  background-color: #4caf50;
  border: 0.4px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.adicionaritem svg{
  fill: white;
}

.adicionaritem p{
  color: white;
  font-size: 1.3em;
}

.adicionaritem:hover{
  cursor: pointer;
  background-color: white;
  svg, p{
    fill: #218838;
    color: #218838;
  }
}

/*----Form----*/
.formulario {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.formulario h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.formulario #meuForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.formulario #meuForm input,
.formulario #meuForm select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.formulario #meuForm input:focus,
.formulario #meuForm select:focus {
  border-color: #218838;
}

.formulario #meuForm button {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #218838;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}



.formulario #meuForm button:hover {
  background-color: #b34800;
}

/*---Footer---*/


#footeradicionar{
  margin-top: 5rem;
}

footer {
  margin-top: 5rem;
  background-color: #3e3e3e;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.footer-section {
  flex: 1;
  margin: 20px;
  max-width: 300px;
}

.footer-logo {
  max-width: 100%;
}

.logo-section p {
  margin-top: 10px;
  font-size: 14px;
}

.social-icons a img {
  width: 30px;
  margin-right: 10px;
}

.privacy-policy {
  color: #fff;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

.links-section h4,
.contact-section h4 {
  margin-bottom: 10px;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section ul li {
  margin-bottom: 8px;
}

.links-section ul li a {
  color: #fff;
  text-decoration: none;
}

.links-section ul li a:hover {
  text-decoration: underline;
}

.contact-section p {
  margin-bottom: 8px;
}

.contact-section a {
  color: #fff;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2rem;
  height: 3rem;
  width: 100%;
  background-color: #2b2b2b;
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}

.footer-bottom p {
  font-size: 12px;
}

/*--Mapa--*/

.mapaObjeto h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 0;
  font-weight: 400;
}

.mapaObjeto{
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 20px;
}



.mapaObjeto button {
  background-color: #355315;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mapaObjeto button:hover {
  cursor: pointer;
  background-color: #C0392B;
  transform: scale(1.05);
}

.mapaObjeto button:active {
  background-color: #9B2D1D;
}

.mapaObjeto svg{
  transition: all .3s;
  fill: red;
  position: absolute;
  left: 90%;
  top: 5%;
}

.mapaObjeto svg:hover{
  cursor: pointer;
  transition: all .3s;
  transform: scale(1.1) rotate(90deg);
}
